# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.idea
.idea/workspace.xml
# Test binary, build with `go test -c`
*.test
*.go
*.sh
*.xml
*.yaml
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
